
body{
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    line-height: 1.5em; 
    text-align: center;
}

#title{
}

#main{

}

#img{

}

#img-div{

}

#img-caption{

}

#tribute-info{

}
#tribute-link{

}
.triInfo{

}
