body {
  margin: 0%;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 1.5em; }

#title {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background: linear-gradient(to top, #d3dfe7, #5D8AA8); }

#main {
  display: flex;
  align-content: center;
  flex-flow: column; }

#img {
  width: 100%; }

#img-div {
  padding: 0;
  margin: 0;
  border: 0.2em solid #5D8AA8; }

#img-caption {
  background: white;
  text-align: center; }

#tribute-info {
  background-color: #d3dfe7;
  padding: 0 1em; }

#tribute-link {
  background-color: #d3dfe7;
  text-align: center; }
  #tribute-link p {
    padding: 0 1em; }

@media (min-width: 550px) {
  body {
    margin: 0% 5%;
    font-size: 1.1em;
    line-height: 1.2em; }
  #title {
    width: 100%; } }

@media (min-width: 750px) {
  body {
    margin: 0% 10%;
    font-size: 1.2em;
    line-height: 1.5em; } }
